# zsh configuration file with oh-my-zsh enabled
#
# Author: Thomas Bendler <code@thbe.org>
# Date:   Sat Mar  4 10:09:00 CET 2023
#

# Path to the oh-my-zsh installation.
export ZSH="${HOME}/.oh-my-zsh"

# Use case-sensitive completion.
CASE_SENSITIVE="true"

# Define how often to auto-update (in days).
export UPDATE_ZSH_DAYS=7

# Enable command auto-correction.
ENABLE_CORRECTION="true"

# Display red dots whilst waiting for completion.
COMPLETION_WAITING_DOTS="true"

# Configure history
HIST_STAMPS="yyyy-mm-dd"
HISTSIZE=20000
SAVEHIST=20000
setopt histignorespace
setopt hist_ignore_all_dups
setopt append_history
setopt share_history

# Plugin configuration
# Standard plugins can be found in ~/.oh-my-zsh/plugins/*
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Add wisely, as too many plugins slow down shell startup.
plugins=(
{% if zsh_plugins is defined %}
{% for plugin in zsh_plugins %}
  {{ plugin }}
{% endfor %}
{% endif %}
)

ZSH_THEME={{ zsh_theme }}

# Load profile snippets
[ -e ${HOME}/.profile.d/ruby.plugin.zsh ] && source ${HOME}/.profile.d/ruby.plugin.zsh
[ -e ${HOME}/.profile.d/alias.plugin.zsh ] && source ${HOME}/.profile.d/alias.plugin.zsh
[ -e ${HOME}/.profile.d/git.plugin.zsh ] && source ${HOME}/.profile.d/git.plugin.zsh

# Load oh-my-zsh framework
[ -e ${ZSH}/oh-my-zsh.sh ] && source ${ZSH}/oh-my-zsh.sh

# Load zsh extensions
[ -e ${HOME}/.zsh-syntax-highlighting.zsh ] && source ${HOME}/.zsh-syntax-highlighting.zsh
